[package]
name = "ringiflow-domain"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
ringiflow-shared.workspace = true
serde.workspace = true
thiserror.workspace = true
uuid.workspace = true
chrono.workspace = true

[dev-dependencies]
pretty_assertions.workspace = true
